
 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #FFD700;
    padding: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.255);
   border-color: rgb(221, 210, 5);
   border-width: 1px;
    min-height: 270px; 
    
  }
  
  
  